# The name that the app will respond to (change this for development). e.g. @all-contributors
BOT_NAME=AllContributorsDev
# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development
# Private key is the .pem file base64 encoded
# openssl base64 < allcontributorsbot.pem | tr -d '\n' | pbcopy
PRIVATE_KEY=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
PORT=3000
